<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Application de gestion de quiz !!</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/content/lib/css/dx.common.css" />
    <link rel="stylesheet" href="~/content/lib/css/dx.light.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/content/node_modules/admin-lte/plugins/fontawesome-free/css/all.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Quiz</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="navbar-nav flex-grow-1">

                        <!--

                            <li class="nav-item">
                                <a class="nav-link text-dark" id="connexion" asp-area="" asp-controller="Home" asp-action="Login">Connecter</a>
                            </li>
                        -->


                        <li class="nav-item">
                            <a class="nav-link text-dark" id="deConnexion" hidden asp-area="" asp-controller="Home" asp-action="Index">Deconnecter</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Copyright &copy 2023-2024 Direction des Systèmes d'Information SNPECI.- <a asp-area="" asp-controller="Home" asp-action="Privacy">Aide</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script  type="module"  src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/moment.js"></script>

    <script src="~/Content/lib/js/cldr.min.js"></script>
    <script src="~/Content/lib/js/event.min1.js"></script>
    <script src="~/Content/lib/js/supplemental.min.js"></script>
    <script src="~/Content/lib/js/globalize.min.js"></script>
    <script src="~/Content/lib/js/message.min.js"></script>
    <script type="text/javascript" src="~/content/lib/js/dx.all.js"></script>
    <script type="text/javascript" src="~/dist/js/adminlte.js"></script>



    <!-- Dictionary files for frecnh languages -->
    <script src="~/Content/lib/js/dx.messages.fr.js"></script>
    <script src="~/Content/lib/js/supplemental.js"></script>
 
    <!-- Common and language-specific CLDR data-->


    @RenderSection("Scripts", required: false)
</body>
    </html>
